.intro {
    background-color: black;
    display: flex;
    color: white;

    .left{
        flex: 0.5;
    }

    .imgContainer{
        width: 500px;
        height: 500px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        float: right;

        img{
            display: flex;
            width: 70%;
            overflow: hidden;
            border: solid black 3px;
            border-radius: 10%;
            height: 90%;
        }
    }


    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 300px;
            height: 300px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 60px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;

                span{
                    font-size: inherit;
                    color: crimson;
                }
            }
        }
        
        a{
            position: absolute;
            bottom: 30px;
            left: 40%;
         

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}